<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-input [(ngModel)] = "username" placeholder="닉네임설정" ></ion-input> <!-- 상단 타이블바에 인풋 텍스트 붙힘-->
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let data of messages"> <!-- div선언 메세지 어레이만큼 포문 돌림-->
      
      <!-- 아이템 박스 1조건 챗박스내 이름이 자신의 닉네임과 같을시 -->
      <ion-item *ngIf="username === data.username" style="border-right: solid 5px red;"> <!-- 해당 조건이면 보더 5사이즈 적색으로 줌-->
        <p class="chat-text" item-left> <strong>{{data.username}} : </strong> </p> <!--좌측 정렬 스트롱 태그내 messages 어레이에서 넘어온 data내 username을 반영함-->
        <p class="chat-time" item-right> {{data.date | date: 'dd/MM/yyyy'}} </p> <!--좌측 정렬 스트롱 태그내 messages 어레이에서 넘어온 data내 dete 날짜를 반영함 필터링 데이트 형식으로 지정 dd/MM/yyyy-->
        
      </ion-item>
      
      <!-- 아이템 박스 2조건 챗박스내 이름이 자신의 닉네임이 아닐시 -->
      <ion-item *ngIf="username !== data.username" style="border-right: solid 5px green;"> <!-- 해당 조건이면 보더 5사이즈 녹색으로 줌-->
        <p class="chat-text" item-left> <strong>{{data.username}} : </strong> </p> <!--좌측 정렬 스트롱 태그내 messages 어레이에서 넘어온 data내 username을 반영함-->
        <p class="chat-time" item-right> {{data.date | date: 'dd/MM/yyyy'}} </p> <!--좌측 정렬 스트롱 태그내 messages 어레이에서 넘어온 data내 dete 날짜를 반영함 필터링 데이트 형식으로 지정 dd/MM/yyyy-->
        
      </ion-item>
    </div>
    <!-- div 마감-->
  </ion-list>
  <!-- div 리스트 마감-->
  
</ion-content>
  <!-- 콘텐트 마감-->

<!--푸터태그 선언해줌-->
<ion-footer> 
  <form #f="ngForm"> <!--폼을 통해 소켓전송-->
    <ion-grid> <!-- 그리드 형태 지정 -->
      <ion-low> <!-- 로우 지정-->
        <ion-col width-80> <!-- 컬럼 지정 너비 80으로 주고-->
          <ion-input [(ngModel)]="chat" name="chatText" required placeholder="내용을 입력해주세요."></ion-input>
          <!-- 인풋 줌 chat 바인딩 시켜줌 해당 인풋 chatText로 지정 폼이 전송되면 스크립트단에서 ''으로 지정해줄거임 -->
        </ion-col>
        
        <ion-col width-20 center> <!-- 여기도 컬럼 지정 너비 20으로 줌  같은 로우내 컬럼이 두개 하나는 80으로 하나는 20으로 대비맞춤-->
          <button (click)="chatSend(f.value, f.valid)" ion-button color="light" full [disbled]="f.valid === false">보내기</button>
          <!--폼내 해당 컬럼 데이터들을 품고 chatSend 메서드를 호출하여 소켓 통신함 -->
        </ion-col>
      </ion-low>
    </ion-grid>
  </form>
</ion-footer>