<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-input [(ngModel)] = "username" placeholder="닉네임설정" ></ion-input>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let data of messages">
      <ion-item *ngIf="username === data.username" style="border-right: solid 5px red;">
        <p class="chat-text" item-left>
          <strong>{{data.username}} : </strong>
        </p>
        <p class="chat-time" item-right>
          {{data.date | date: 'dd/MM/yyyy'}}
        </p>
      </ion-item>
      
      <ion-item *ngIf="username !== data.username" style="border-right: solid 5px green;">
        <p class="chat-text" item-left>
          <strong>{{data.username}} : </strong>
        </p>
        <p class="chat-time" item-right>
          {{data.date | date: 'dd/MM/yyyy'}}
        </p>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<ion-footer> 
  <form #f="ngForm">
    <ion-grid>
      <ion-low>
        <ion-col width-80>
          <ion-input [(ngModel)]="chat" name="chatText" required placeholder="내용을 입력해주세요."></ion-input>
        </ion-col>
        <ion-col width-20 center>
          <button (click)="chatSend(f.value, f.valid)" ion-button color="light" full [disbled]="f.valid === true">보내기</button>
        </ion-col>
      </ion-low>
    </ion-grid>
  </form>
</ion-footer>