<!--
  Generated template for the Lists page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>리스트</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-item-divider color="light"> Basic List</ion-item-divider>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemClick(item)">
      {{ item.name }} {{ item.key }}
    </button>  
  </ion-list>
  
  <ion-item-divider color="light"> No line List</ion-item-divider>
  <ion-list no-lines>
    <button ion-item *ngFor="let item of items" (click)="itemClick(item)">
      {{ item.name }} {{ item.key }}
    </button> 
  </ion-list>


  <!--<ion-item-divider color="light"> Inset List</ion-item-divider>-->
  <ion-list inset>
    <ion-list-header> Inset List </ion-list-header>

    <button ion-item *ngFor="let item of items" (click)="itemClick(item)">
      {{ item.name }} {{ item.key }}
    </button> 
  </ion-list>

  <!-- sliding list -->
  <ion-list>

    <ion-item-sliding *ngFor="let item of items"> <!-- 슬라이딩 옵션 지정 태그 -->

        <!-- 아이템 -->
        <ion-item>
          <ion-avatar item-left>
            <img src="https://avatars1.githubusercontent.com/u/21367010?v=3&s=460">
          </ion-avatar>
          
          <h2>{{ item.name }}</h2>
          <p>{{ item.key }}</p>
        </ion-item>

        <!-- 좌측 스와이프 -->
        <ion-item-options side="left">

            <button ion-button color="primary">   <!-- 아이템 1 -->
              <ion-icon name="text"></ion-icon>
              문자
            </button>

            <button ion-button color="secondary"> <!-- 아이템 2 -->
              <ion-icon name="call"></ion-icon>
              전화
            </button>

        </ion-item-options>

        <!-- 우측 스와이프 -->
        <ion-item-options side="right">

          <button ion-button color="primary">     <!-- 아이템 1 -->
            <ion-icon name="mail"></ion-icon>
            메일
          </button>

        </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <!-- thumbnail list -->
  <ion-list>

    <ion-item *ngFor="let item of items">

      <ion-thumbnail item-left>
        <img src="https://avatars1.githubusercontent.com/u/21367010?v=3&s=460">
      </ion-thumbnail>
      
      <h2>{{ item.name }}</h2>
      <p> {{ item.key }}</p>
      <button ion-button clear item-right (click)="itemClick(item)">선택</button>

    </ion-item>

  </ion-list>

</ion-content>
